* text=auto
*.html text eol=lf
*.js text eol=lf
*.cjs text eol=lf
*.css text eol=lf
*.json text eol=lf
*.md text eol=lf
*.xml text eol=lf
*.txt text eol=lf
*.py text eol=lf
*.ts text eol=lf
*.jpg binary
*.png binary
*.webp binary
*.avif binary
